*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    margin: 40px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.div1 .p1{
    font-size: 30px;
    margin-bottom: 5px;
}

.div1 p>span{
   cursor: pointer;
    color: rgb(255, 75, 4);
}
hr{
    margin-top: 15px;
    border: 1px solid black;
    width: 3%;
}  
.div1 a{
    color: rgb(255, 75, 4);
    text-decoration: none;
}

/* -----------input------------- */
.div2 {
margin-top: 20px;
}
.div2 input{
    padding: 20px ;
    border: 0.5px solid grey;
border-bottom: 0px;
width: 400px ;
}
.div2 .input4{
    border-bottom: 0.5px solid grey;
}
.referal{
    padding: 20px;
    padding-left: 0px;
    color: rgb(0, 0, 200);
    font-weight: 400;
    cursor: pointer;
}
button{
    width: 400px ;
    padding: 20px;
    border: 0px;
    cursor: pointer;
    background-color: rgba(255, 115, 0,0.8)
}
p{
    margin-top: 15px;
    font-size: 0.9em;
}
p span{
    cursor: pointer;
    font-weight: 400;
}
